@import '../../styles/global.scss';

.home-container {
    @include spacing-section();
    // background-color: $bg-app;
    color: $text-app;
    height: 100vh;

    display: flex;
    align-items: center;

    .grid {
        max-width: 600px;
    }

    h1 {
        font-size: 4.8rem;
        margin-bottom: 1rem;
    }

    p {
        margin-bottom: 3rem;
    }

    form.login {
        background-color: $gray-3;
        padding: 4rem;
        border-radius: 10px;

        display: flex;
        flex-direction: column;
        gap: 1rem;

        input:not(#showSenha), button {
            border: none;
            height: 3.2rem;
            border-radius: 7px;
            padding: 0 .9rem;
            font-size: 1.6rem;
        }

        .show-senha {
            margin-bottom: 1.5rem;
        }

        button {
            background-color: $azul;
            color: $text-app;
            font-weight: 600;
            text-transform: uppercase;
        }
    }

    .btn-link {
        color: $gray-1;
        display: inline-block;
        width: 100%;
        margin-top: 2rem;
        font-size: 1.5rem;
        text-align: center;

        &:hover {
            text-decoration: underline;
        }
    }

    @media screen and (max-width: 480px) {
        text-align: center;

        h1 {
            font-size: 3.6rem;
        }
        
        form.login {   
            padding: 4rem 2.5rem;

            .show-senha {
                text-align: left;
            }
        }
    }
}