@import '../../styles/global.scss';

.admin-container {
    @include spacing-section();
    color: $text-app;
    // display: flex;
    // align-items: center;

    .grid {
        max-width: 600px;
    }

    h1 {
        font-size: 4.8rem;
        margin-bottom: 2rem;
    }

    section.form-tarefas {
        background-color: $gray-3;
        padding: 4rem;
        border-radius: 10px;

        form {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            padding-bottom: 1.5rem;
            // border-bottom: 1px solid $gray-2;

            label {
                font-weight: 600;
            }

            input, button {
                border: none;
                height: 3.2rem;
                border-radius: 7px;
                padding: 0 .9rem;
                font-size: 1.6rem;
            }
    
            .show-senha {
                margin-bottom: 1.5rem;
            }
    
            button {
                font-size: 1.5rem;
                background-color: $azul;
                color: $text-app;
                font-weight: 600;
                text-transform: uppercase;
            }
        }

        .list-tarefas {
            margin-top: 1.5rem;

            display: flex;
            flex-direction: column;
            gap: 1rem;
    
            .tarefa-item {
                padding: 1rem 1.5rem;
                border: 1px solid $gray-2;
                border-radius: 7px;
    
                display: flex;
                justify-content: space-between;
                align-items: center;
    
                .nome-tarefa {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
    
                    input {
                        cursor: pointer;
                    }
                    label {
                        cursor: text;
                    }
                }
                .acoes-tarefa {
                    display: flex;
                    align-items: center;
    
                    svg {
                        cursor: pointer;
                    }
                }
            }

        }

        
    }

    .btn-logout {
        position: absolute;
        bottom: 40px;
        right: 20px;

        padding: 1rem 2rem;
        border-radius: 10px;
        font-weight: 600;
        text-transform: uppercase;

        transition: all .4s;

        &:hover {
            opacity: 0.5;
        }
    }


    @media screen and (max-width: 480px) {
        h1 {
            font-size: 3.6rem;
            text-align: center;
        }       
        
        section.form-tarefas {
            padding: 3.5rem 2.5rem;
        }

        .btn-logout {
            right: 15px;
        }
    }
}